/* NORMALIZE */
* { box-sizing: border-box; }
html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}
body {
	margin: 0;
	background: #000;
}
.wrapper {
	position:relative;
}
.hide {
	display:none !important;
}
.hide--desktop {
	display:none !important;
}
a {
	text-decoration: none;
	color: #414042;
	transition: all 0.4s;
}
a:hover {
	color: #23B2EE;
}
img {
	display: block;
	width:100%;
	max-width:100%;
	height:auto;
}
/* HEADER */
header.main-header {
	width:100%;
	background: rgba(0,0,0,0.75);
	transition: all 0.4s;
	padding:1em 0;
	backdrop-filter: saturate(180%) blur(20px);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	z-index: 9999;
	position: sticky;
	top: 0;
}
.stuck .main-header {
	padding:0;
}
.admin-bar .main-header {
	top:32px;
}
.header-wrap {
	width:90%;
	max-width:1400px;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.4s;
}
.stuck .header-wrap {
	transform: scale(0.8);
}
.menu-toggle {
	display:none;
}
.menu {
	margin:unset;
	padding:unset;
	display:flex;
	flex-flow:row nowrap;
	justify-content: center;
	list-style: none;
	align-items: center;
	transition: all 0.4s;
}
.menu > li > a {
	display: block;
	padding:0 1em;
	color: white;
	text-decoration: none;
	transition: all 0.4s;
}
.menu > li > a:hover {
	color: #aaa;
}
.menu > li.current-menu-item > a {
	color: #23B2EE;
}
.menu .btn--transparent {
	border-color: #fff;
	margin-left: 1em;
}
.site-branding img {
	width:13em;
	max-width: 50vw;
}

/* CONTENT STYLING */
.site-content {
	background: #f0f0f0;
	color: #414042;
	overflow: hidden;
}
.hero {
	position: relative;
	z-index:2;
}
.hero__video {
	background: #000;
	position: relative;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -99;
	overflow: hidden;
}
.hero.tall .hero__video {
	height:75vh;
}
.hero.short .hero__video {
	height:45vh;
}
.hero__video iframe {
	object-fit: cover;
	pointer-events: none;
	position:absolute;
	top:-25%;
}
.hero.short .hero__video iframe {
	top:-50%;
}

@media screen and (max-width:700px) {
	.hero__video iframe {
		object-fit: cover;
		pointer-events: none;
		position:absolute;
		top:30%;
	}
	.hero.short .hero__video iframe {
		top:30%;
	}
}

@media (min-aspect-ratio: 16/9) {
	.video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
	.video-foreground { width: 300%; left: -100%; }
}
.youtube-background {
	background-color: #000;
	background-image: none !important;
	max-width:100%;
}
.hero__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% + 1px);
	background: transparent;
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 15%, rgba(0,0,0,0.2) 85%, rgba(0,0,0,1) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero__content {
	color: white;
	width: 80%;
	max-width: 1400px;
}
.hero__copy {
	font-weight: 700;
	font-size: 48px;
	position: relative;
	margin-bottom: 40px;
	text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.hero__copy:after {
	content: '';
	position: absolute;
	bottom: -18px;
	left: 0;
	width: 100px;
	height: 3px;
	background: #23B2EE;
}
.hero__content .btn--transparent {
	color: white;
	border-color: white;
}
.hero__content .btn--transparent:hover {
	color: #414042;
	background: white;
}

/* BUTTON STYLES */
.btn {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
	background: #23B2EE;
	display: inline-block;
	transition:all 0.4s;
	border:solid 2px;
	border-color: transparent;
	font-weight:bold;
	cursor: pointer;
}
.btn:hover {
	background: #414042;
}
.btn--transparent {
	background:transparent;
}

/* LAYOUT */
.columns {
	display: flex;
	flex-flow: row wrap;
}
.columns.is-centered {
	justify-content: center;
}
.columns.is-vcentered {
	align-items: center;
}
.column {
	display:block;
	flex-basis:0;
	flex-grow:1;
	flex-shrink: 1;
	padding:1em;
}
.column.is-1 {
	flex:none;
	-webkit-box-flex:0;
	width: 8.333333333333%;
}
.column.is-2 {
	flex:none;
	-webkit-box-flex:0;
	width: 16.66666667%;
}
.column.is-3 {
	flex:none;
	-webkit-box-flex:0;
	width: 25%;
}
.column.is-4 {
	flex:none;
	-webkit-box-flex:0;
	width: 33.3333333%;
}
.column.is-5 {
	flex:none;
	-webkit-box-flex:0;
	width: 41.66666667%;
}
.column.is-6 {
	flex:none;
	-webkit-box-flex:0;
	width: 50%;
}
.column.is-7 {
	flex:none;
	-webkit-box-flex:0;
	width: 58.33333333%;
}
.column.is-8 {
	flex:none;
	-webkit-box-flex:0;
	width: 66.666666667%;
}
.column.is-9 {
	flex:none;
	-webkit-box-flex:0;
	width: 75%;
}
.column.is-10 {
	flex:none;
	-webkit-box-flex:0;
	width: 83.3333333%;
}
.column.is-11 {
	flex:none;
	-webkit-box-flex:0;
	width: 91.66666667%;
}
.column.is-12 {
	flex:none;
	-webkit-box-flex:0;
	width: 100%;
}
.layout-is-6 > .service,
.layout-is-6 > .video {
	width: 50%;
	padding:1em;
}
.layout-is-4 > .service,
.layout-is-4 > .video {
	width: 33.3333333%;
	padding:1em;
}
.layout-is-3 > .service,
.layout-is-3 > .video{
	width: 25%;
	padding: 1em;
}
.column img {
	width:100%;
	height:auto;
	display:block;
}
/* CONTENT */
.section {
	width:100%;
	margin:0 auto;
	padding: 2em 0;
}
.section.fixed .columns,
.entry-content{
	width:100%;
	max-width:1400px;
	margin: 0 auto;
}
.background-color-black {
	background: #000;
	color: #fff;
}
.background-color-offwhite {
	background: #f0f0f0;
	color: #414042;
}
.background-color-gray {
	background: #414042;
	color: #fff;
}
h2.section-title,
h1.entry-title{
	text-align: center;
	font-size:36px;
	position: relative;
	margin: 1em 0 2em;
}
h2.section-title:after,
h1.entry-title:after {
	content: '';
	position: absolute;
	width: 100px;
	bottom: -24px;
	left: calc(50% - 50px);
	right: 0;
	height: 3px;
	background: #23b2ee;
}
h5 {
	text-transform: uppercase;
	font-size:18px;
	margin: 1em 0;
}
h6 {
	font-size:16px;
	margin:1em 0;
}
.has-text-centered {
	text-align: center;
}
.service a {
	text-decoration: none;
}
.service-name {
	color: white;
	font-weight: 600;
	margin-left: 10px;
	position:relative;
}
.service-name:before {
	content: '';
	position:absolute;
	height:18px;
	width:3px;
	top:0;
	left:-10px;
	background: #23B2EE;
}
.animated {
	max-width:175px;
	margin:0 auto;
}
.social a {
	display: inline-block;
	margin:0 10px;
}
::selection {
	background: #23B2EE;
}
.card {
	height:100%;
}
.card > * {
	color:#414042;
}

/* FORM STYLES */
form.wpcf7-form {
	display: flex;
	flex-flow: column;
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email],
.wpcf7-form textarea {
	display:block;
	width:100%;
	padding:0.75em;
	margin:0.5em 0;
	outline:none;
	border: solid 2px #c4c4c4;
	font-family: "Work Sans", sans-serif;
	transition: all 0.4s;
	resize:none;
	border-radius:0 !important;
}
.wpcf7-form input[type=text]:focus,
.wpcf7-form input[type=email]:focus,
.wpcf7-form textarea:focus {
	border-color: #23B2EE;
}
form .btn--transparent {
	border-color: #fff;
	margin-top:0.5em;
	border-radius: 0 !important;
}
form .btn--transparent:hover {
	background: #fff;
	color: #000;
}

/* VIDEO WRAPPER STYLES */
.video {
	text-align: center;
}
.video-wrapper {
	position:relative;
	padding:0 0 56.25%;
	height:0;
}
.video-wrapper > iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/* FOOTER */
footer.site-footer {
	position:relative;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.bottom-footer {
	width: 100%;
	background: #414141;
	color: #fff;
	text-align: center;
	padding:1em 0;
}
.bottom-footer > p {
	font-size:12px;
	margin:unset;
}
footer > .columns {
	max-width:1400px;
	margin:0 auto;
}
.btt {
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
	background: #E8E8E8;
	color:#23B2EE;
	padding:1em;
	cursor:pointer;
	transition: all 0.4s;
}
.btt:hover {
	background: #414042;
}
.btt i {
	font-size:24px;
}
@media screen and (max-width:1440px) {
	.btt {
		right:2%;
	}
}
/* MOBILE STYLES */
@media screen and (max-width:700px) {
	.wpcf7-form input[type=text], .wpcf7-form input[type=email], .wpcf7-form textarea {
		border-radius:0 !important;
		font-size:16px;
	}
	.wpcf7-form input[type=submit] {
		border-radius:0 !important;
	}
	.hero__copy {
		font-size:36px;
	}
	h2.section-title, h1.entry-title {
		padding: 0 1em;
	}
	.menu {
		flex-flow:column;
		position:fixed;
		top:0;
		right:0;
		width:100vw;
		height:100vh;
		background: rgba(25,25,25,0.75);
		backdrop-filter: saturate(180%) blur(20px);
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		transform: translateX(100%);
		transform-origin: top right;
		justify-content: space-around;
		padding: 12em 0;
	}
	.site-branding {
		position: relative;
		z-index:10;
	}
	.menu.show {
		transform:translateX(0);
	}
	.menu > li > a {
		text-transform: uppercase;
	}
	.menu-toggle {
		display:block;
		color:white;
		font-size:20px;
		z-index:10000;
		position: relative;
		transition: all 0.4s;
	}
	.menu-toggle.close {
		transform: rotate(90deg);
	}
	.menu .btn--transparent {
		margin-left:0;
	}
	.admin-bar .main-header {
		top:0;
	}
	header.main-header {
		background: rgba(0,0,0,0.9);
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
	}
	.stuck .header-wrap {
		transform: none;
	}
	.stuck .main-header {
		padding:1em 0;
	}
	.column {
		width:100% !important;
	}
	div[class*=' layout-']> .service,
	div[class*=' layout-']> .video {
		width:100%;
	}
	footer.site-footer {
		padding-top:1em;
	}
	footer > .columns {
		flex-direction: column;
		align-items: center;
	}
	footer.site-footer .column {
		width: 60% !important;
		padding: 0.25em 0;
	}
	footer.site-footer .column:nth-child(2) {
		display: none;
	}
	.btt {
		display:none;
	}
	.hero__video iframe {
		transform: translateX(-50%) translateY(-50%) scale(1.25) !important;
	}
	.hide--desktop {
		display:block !important;
	}
}
.woocommerce-page .site-main {
	padding:2em 0;
}
.single-product .product_meta,
.navigation.post-navigation {
	display: none;
}
.comments-area {
	opacity:0;
	height:0;
	clear:both;
	overflow:hidden;
}